<%= form_with(model: ip_history) do |form| %>
  <% if ip_history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ip_history.errors.count, "error") %> prohibited this ip_history from being saved:</h2>

      <ul>
        <% ip_history.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :servermaininfo_id %>
    <%= form.number_field :servermaininfo_id %>
  </div>

  <div class="field">
    <%= form.label :ip %>
    <%= form.text_field :ip %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_area :note %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
