<p id="notice"><%= notice %></p>

<h1>Ip Histories</h1>

<table>
  <thead>
    <tr>
      <th>Servermaininfo</th>
      <th>Ip</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ip_histories.each do |ip_history| %>
      <tr>
        <td><%= ip_history.servermaininfo_id %></td>
        <td><%= ip_history.ip %></td>
        <td><%= ip_history.note %></td>
        <td><%= link_to 'Show', ip_history %></td>
        <td><%= link_to 'Edit', edit_ip_history_path(ip_history) %></td>
        <td><%= link_to 'Destroy', ip_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ip History', new_ip_history_path %>
