<p id="notice"><%= notice %></p>

<p>
  <strong>Servermaininfo:</strong>
  <%= @ip_history.servermaininfo_id %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @ip_history.ip %>
</p>

<p>
  <strong>Note:</strong>
  <%= @ip_history.note %>
</p>

<%= link_to 'Edit', edit_ip_history_path(@ip_history) %> |
<%= link_to 'Back', ip_histories_path %>
