<%= form_with(model: db_connection) do |form| %>
  <% if db_connection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(db_connection.errors.count, "error") %> prohibited this db_connection from being saved:</h2>

      <ul>
        <% db_connection.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :jndiName %>
    <%= form.text_field :jndiName %>
  </div>

  <div class="field">
    <%= form.label :dbUserName %>
    <%= form.text_field :dbUserName %>
  </div>

  <div class="field">
    <%= form.label :dbName %>
    <%= form.text_field :dbName %>
  </div>

  <div class="field">
    <%= form.label :dbPort %>
    <%= form.number_field :dbPort %>
  </div>

  <div class="field">
    <%= form.label :dbIP %>
    <%= form.text_field :dbIP %>
  </div>

  <div class="field">
    <%= form.label :servermaininfo_id %>
    <%= form.number_field :servermaininfo_id %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_area :note %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
