<p id="notice"><%= notice %></p>

<h1>Db Connections</h1>

<table>
  <thead>
    <tr>
      <th><%= t :'activerecord.attributes.db_connection.jndiName' %></th>
      <th><%= t :'activerecord.attributes.db_connection.dbUserName' %></th>
      <th><%= t :'activerecord.attributes.db_connection.dbName' %></th>
      <th><%= t :'activerecord.attributes.db_connection.dbPort' %></th>
      <th><%= t :'activerecord.attributes.db_connection.dbIP' %></th>
      <th> Servermaininfo </th>
      <th><%= t :'activerecord.attributes.db_connection.note' %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @db_connections.each do |db_connection| %>
      <tr>
        <td><%= db_connection.jndiName %></td>
        <td><%= db_connection.dbUserName %></td>
        <td><%= db_connection.dbName %></td>
        <td><%= db_connection.dbPort %></td>
        <td><%= db_connection.dbIP %></td>
        <td><%= db_connection.servermaininfo_id %></td>
        <td><%= db_connection.note %></td>
        <td><%= link_to 'Show', db_connection %></td>
        <td><%= link_to 'Edit', edit_db_connection_path(db_connection) %></td>
        <td><%= link_to 'Destroy', db_connection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Db Connection', new_db_connection_path %>
