<p id="notice"><%= notice %></p>

<p>
  <strong>Jndiname:</strong>
  <%= @db_connection.jndiName %>
</p>

<p>
  <strong>Dbusername:</strong>
  <%= @db_connection.dbUserName %>
</p>

<p>
  <strong>Dbname:</strong>
  <%= @db_connection.dbName %>
</p>

<p>
  <strong>Dbport:</strong>
  <%= @db_connection.dbPort %>
</p>

<p>
  <strong>Dbip:</strong>
  <%= @db_connection.dbIP %>
</p>

<p>
  <strong>Servermaininfo:</strong>
  <%= @db_connection.servermaininfo_id %>
</p>

<p>
  <strong>Note:</strong>
  <%= @db_connection.note %>
</p>

<%= link_to 'Edit', edit_db_connection_path(@db_connection) %> |
<%= link_to 'Back', db_connections_path %>
