<%= form_with(model: os_info) do |form| %>
  <% if os_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(os_info.errors.count, "error") %> prohibited this os_info from being saved:</h2>

      <ul>
        <% os_info.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :osName %>
    <%= form.text_field :osName %>
  </div>

  <div class="field">
    <%= form.label :osVersion %>
    <%= form.text_field :osVersion %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_area :note %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
