<p id="notice"><%= notice %></p>

<h1>Os Infos</h1>

<table>
  <thead>
    <tr>
      <th>Osname</th>
      <th>Osversion</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @os_infos.each do |os_info| %>
      <tr>
        <td><%= os_info.osName %></td>
        <td><%= os_info.osVersion %></td>
        <td><%= os_info.note %></td>
        <td><%= link_to 'Show', os_info %></td>
        <td><%= link_to 'Edit', edit_os_info_path(os_info) %></td>
        <td><%= link_to 'Destroy', os_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Os Info', new_os_info_path %>
