<p id="notice"><%= notice %></p>

<p>
  <strong>Osname:</strong>
  <%= @os_info.osName %>
</p>

<p>
  <strong>Osversion:</strong>
  <%= @os_info.osVersion %>
</p>

<p>
  <strong>Note:</strong>
  <%= @os_info.note %>
</p>

<%= link_to 'Edit', edit_os_info_path(@os_info) %> |
<%= link_to 'Back', os_infos_path %>
