<%= form_with(model: application) do |form| %>
  <% if application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(application.errors.count, "error") %> prohibited this application from being saved:</h2>

      <ul>
        <% application.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :appName %>
    <%= form.text_field :appName %>
  </div>

  <div class="field">
    <%= form.label :appTpe %>
    <%= form.text_field :appTpe %>
  </div>

  <div class="field">
    <%= form.label :developer %>
    <%= form.text_field :developer %>
  </div>

  <div class="field">
    <%= form.label :version %>
    <%= form.text_field :version %>
  </div>

  <div class="field">
    <%= form.label :serviceName %>
    <%= form.text_field :serviceName %>
  </div>

  <div class="field">
    <%= form.label :appUrl %>
    <%= form.text_field :appUrl %>
  </div>

  <div class="field">
    <%= form.label :contextRoot %>
    <%= form.text_field :contextRoot %>
  </div>

  <div class="field">
    <%= form.label :dbconnection_id %>
    <%= form.number_field :dbconnection_id %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_area :note %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
