<p id="notice"><%= notice %></p>

<h1><%= t :wApplications %></h1>

<table>
  <thead>
    <tr>
      <th><%= t :'activerecord.attributes.application.appName' %></th>
      <th><%= t :'activerecord.attributes.application.appType' %></th>
      <th><%= t :'activerecord.attributes.application.developer' %></th>
      <th><%= t :'activerecord.attributes.application.version' %></th>
      <th><%= t 'activerecord.attributes.application.serviceName' %></th>
      <th><%= t 'activerecord.attributes.application.appUrl' %></th>
      <th><%= t 'activerecord.attributes.application.contextRoot' %></th>
      <th><%= t 'activerecord.attributes.application.dbconnection' %></th>
      <th><%= t 'activerecord.attributes.application.note' %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @applications.each do |application| %>
      <tr>
        <td><%= application.appName %></td>
        <td><%= application.appType %></td>
        <td><%= application.developer %></td>
        <td><%= application.version %></td>
        <td><%= application.serviceName %></td>
        <td><%= application.appUrl %></td>
        <td><%= application.contextRoot %></td>
        <td><%= application.dbconnection_id %></td>
        <td><%= application.note %></td>
        <td><%= link_to 'Show', application %></td>
        <td><%= link_to 'Edit', edit_application_path(application) %></td>
        <td><%= link_to 'Destroy', application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Application', new_application_path %>
