<p id="notice"><%= notice %></p>

<p>
  <strong>Appname:</strong>
  <%= @application.appName %>
</p>

<p>
  <strong>Apptpe:</strong>
  <%= @application.appTpe %>
</p>

<p>
  <strong>Developer:</strong>
  <%= @application.developer %>
</p>

<p>
  <strong>Version:</strong>
  <%= @application.version %>
</p>

<p>
  <strong>Servicename:</strong>
  <%= @application.serviceName %>
</p>

<p>
  <strong>Appurl:</strong>
  <%= @application.appUrl %>
</p>

<p>
  <strong>Contextroot:</strong>
  <%= @application.contextRoot %>
</p>

<p>
  <strong>Dbconnection:</strong>
  <%= @application.dbconnection_id %>
</p>

<p>
  <strong>Note:</strong>
  <%= @application.note %>
</p>

<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>
