<%= form_with(model: server_state) do |form| %>
  <% if server_state.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(server_state.errors.count, "error") %> prohibited this server_state from being saved:</h2>

      <ul>
        <% server_state.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :srvState %>
    <%= form.text_field :srvState %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_area :note %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
