<p id="notice"><%= notice %></p>

<h1>Server States</h1>

<table>
  <thead>
    <tr>
      <th>Srvstate</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @server_states.each do |server_state| %>
      <tr>
        <td><%= server_state.srvState %></td>
        <td><%= server_state.note %></td>
        <td><%= link_to 'Show', server_state %></td>
        <td><%= link_to 'Edit', edit_server_state_path(server_state) %></td>
        <td><%= link_to 'Destroy', server_state, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Server State', new_server_state_path %>
