<p id="notice"><%= notice %></p>

<p>
  <strong>Srvstate:</strong>
  <%= @server_state.srvState %>
</p>

<p>
  <strong>Note:</strong>
  <%= @server_state.note %>
</p>

<%= link_to 'Edit', edit_server_state_path(@server_state) %> |
<%= link_to 'Back', server_states_path %>
