<%= form_with(model: server_main_info) do |form| %>
  <% if server_main_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(server_main_info.errors.count, "error") %> prohibited this server_main_info from being saved:</h2>

      <ul>
        <% server_main_info.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :srvName %>
    <%= form.text_field :srvName %>
  </div>

  <div class="field">
    <%= form.label :fdqn %>
    <%= form.text_field :fdqn %>
  </div>

  <div class="field">
    <%= form.label :servergroupinfo_id %>
    <div class="container pagination">
      <%= form.collection_select :servergroupinfo_id  , @servergroupinfo_all_pagination,:id, :grpName, class: "dropdown pagination", :selected => params[:servergroupinfo_id] %>
      <%= paginate @servergroupinfo_all_pagination , class: "page-item page-link" %>
    </div>
  </div>
  <div class="field">
    <%= form.label :sitename_id %>
    <%= form.collection_select :sitename_id, SiteName.all,:id,:siteName, :selected => params[:sitename_id] %>
  </div>

  <div class="field">
    <%= form.label :mainIP %>
    <%= form.text_field :mainIP %>
  </div>

  <div class="field">
    <%= form.label :iphistory_id %>
    <%= form.number_field :iphistory_id %>
  </div>

  <div class="field">
    <%= form.label :macAddr %>
    <%= form.text_field :macAddr %>
  </div>

  <div class="field">
    <%= form.label :ip1 %>
    <%= form.text_field :ip1 %>
  </div>

  <div class="field">
    <%= form.label :ip2 %>
    <%= form.text_field :ip2 %>
  </div>

  <div class="field">
    <%= form.label :ip3 %>
    <%= form.text_field :ip3 %>
  </div>

  <div class="field">
    <%= form.label :mac_1 %>
    <%= form.text_field :mac_1 %>
  </div>

  <div class="field">
    <%= form.label :mac_2 %>
    <%= form.text_field :mac_2 %>
  </div>

  <div class="field">
    <%= form.label :mac_3 %>
    <%= form.text_field :mac_3 %>
  </div>

  <div class="field">
    <%= form.label :srvNameInProj %>
    <%= form.text_field :srvNameInProj %>
  </div>

  <div class="field">
    <%= form.label :srvPersianName %>
    <%= form.text_field :srvPersianName %>
  </div>

  <div class="field">
    <%= form.label :sitename_id %>
    <%= form.collection_select :sitename_id, SiteName.all,:id,:siteName, :selected => params[:sitename_id] %>
  </div>

  <div class="field">
    <%= form.label :osinfo_id %>
    <%= form.collection_select :osinfo_id, OsInfo.all,:id, :osName, :selected => params[:osInfo_id] %>
  </div>

  <div class="field">
    <%= form.label :srvNameOnVM %>
    <%= form.text_field :srvNameOnVM %>
  </div>

  <div class="field">
    <%= form.label :machinetype_id %>
    <%= form.collection_select :machinetype_id, MachineType.all, :id, :machineType, :selected => params[:machinetype_id] %>
  </div>

  <div class="field">
    <%= form.label :serverstate_id %>
    <%= form.collection_select :serverstate_id , ServerState.all,:id, :srvState, :selected => params[:serverstate_id] %>
  </div>

  <div class="field">
    <%= form.label :cpuInfo %>
    <%= form.text_field :cpuInfo %>
  </div>

  <div class="field">
    <%= form.label :ramInfo %>
    <%= form.text_field :ramInfo %>
  </div>

  <div class="field">
    <%= form.label :hddInfo %>
    <%= form.text_field :hddInfo %>
  </div>

  <div class="field">
    <%= form.label :validIP %>
    <%= form.text_field :validIP %>
  </div>

  <div class="field">
    <%= form.label :validFqdn %>
    <%= form.text_field :validFqdn %>
  </div>

  <div class="field">
    <%= form.label :subnetMask %>
    <%= form.text_field :subnetMask %>
  </div>

  <div class="field">
    <%= form.label :gateWay %>
    <%= form.text_field :gateWay %>
  </div>

  <div class="field">
    <%= form.label :projName %>
    <%= form.text_field :projName %>
  </div>

  <div class="field">
    <%= form.label :reponseUnit_id %>
    <%= form.number_field :reponseUnit_id %>
  </div>

  <div class="field">
    <%= form.label :responseOrg_id %>
    <%= form.number_field :responseOrg_id %>
  </div>

  <div class="field">
    <%= form.label :responseName %>
    <%= form.text_field :responseName %>
  </div>

  <div class="field">
    <%= form.label :responsePhone %>
    <%= form.text_field :responsePhone %>
  </div>

  <div class="field">
    <%= form.label :responseMail %>
    <%= form.text_field :responseMail %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
