<p id="notice"><%= notice %></p>
<h1><%= t :wServerStateTitle %></h1>

<div class="container bg-info">
  <h3><%= t :'activerecord.models.server_main_info' %></h3>
  <table>
    <thead>
      <tr>
        <th><%= t :'activerecord.attributes.server_main_info.srvName' %></th>
        <th><%= t :'activerecord.attributes.server_main_info.fdqn' %></th>
        <th><%= t :'activerecord.attributes.server_main_info.mainIP' %></th>
        <th><%= t :'activerecord.attributes.server_main_info.macAddr' %></th>
        <th><%= t :'activerecord.attributes.server_main_info.validIP' %></th>
        <th><%= t :'activerecord.attributes.server_main_info.validFqdn' %></th>
        <th><%= t :'activerecord.attributes.server_main_info.subnetMask' %></th>
        <th><%= t :'activerecord.attributes.server_main_info.gateWay' %></th>
        <th><%= t :'activerecord.attributes.server_main_info.projName' %></th>
        <th colspan="3"> </th>
      </tr>
    </thead>
    <tbody>
      <% @server_main_infos.each do |server_main_info| %>
        <tr>
          <td><%= server_main_info.srvname %></td>
          <td><%= server_main_info.fdqn %></td>
          <td><%= server_main_info.mainip %></td>
          <td><%= server_main_info.macaddr %></td>
          <td><%= server_main_info.validip %></td>
          <td><%= server_main_info.validfqdn %></td>
          <td><%= server_main_info.subnetmask %></td>
          <td><%= server_main_info.gateway %></td>
          <td><%= server_main_info.projname %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="container bg-success">
  <h3><%= t :wProjInfo %></h3>
  <table>
    <thead>
    <tr>
      <th><%= t :'activerecord.attributes.server_main_info.srvNameInProj' %></th>
      <th><%= t :'activerecord.attributes.server_main_info.srvPersianName' %></th>
      <th><%= t :'activerecord.attributes.server_main_info.srvNameOnVM' %></th>
      <th> SiteName</th>
      <th>OS Info</th>
      <th>machineType </th>
      <th>serverState </th>
      <th><%= t :'activerecord.attributes.server_main_info.responseUnit' %></th>
      <th><%= t :'activerecord.attributes.server_main_info.responseOrg' %></th>
      <th><%= t :'activerecord.attributes.server_main_info.responseName' %></th>
      <th><%= t :'activerecord.attributes.server_main_info.responsePhone' %></th>
      <th><%= t :'activerecord.attributes.server_main_info.responseMail' %></th>
    </tr>
    </thead>
    <tbody>
      <% @server_main_infos.each do |server_main_info| %>
        <td><%= server_main_info.srvnameinproj %></td>
        <td><%= server_main_info.srvpersianname %></td>
        <td><%= server_main_info.srvnameonvm %></td>
        <td><%= server_main_info.sitename_id %></td>
        <td><%= server_main_info.osinfo_id %></td>
        <td><%= server_main_info.machinetype_id %></td>
        <td><%= server_main_info.serverstate_id %></td>
        <td><%= server_main_info.reponseunit_id %></td>
        <td><%= server_main_info.responseorg_id %></td>
        <td><%= server_main_info.responsename %></td>
        <td><%= server_main_info.responsephone %></td>
        <td><%= server_main_info.responsemail %></td>
      <% end %>
    </tbody>
  </table>
</div>
<div class="container bg-warning">
  <h3><%= t :wResourceInfo %></h3>
  <table>
    <thead>
      <tr>
        <th><%= t :'activerecord.attributes.server_main_info.cpuInfo' %></th>
        <th><%= t :'activerecord.attributes.server_main_info.ramInfo' %></th>
        <th><%= t :'activerecord.attributes.server_main_info.hddInfo' %></th>
      </tr>
    </thead>
    <tbody>
      <% @server_main_infos.each do |server_main_info|%>
        <tr>
          <td><%= server_main_info.cpuinfo %></td>
          <td><%= server_main_info.raminfo %></td>
          <td><%= server_main_info.hddinfo %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="container">
  <h3><%= t :wIPHistoryTitle %></h3>
  <table>
    <thead>
    <tr>
      <th><%= t :'activerecord.attributes.server_main_info.ip1' %></th>
      <th><%= t :'activerecord.attributes.server_main_info.ip2' %></th>
      <th><%= t :'activerecord.attributes.server_main_info.ip3' %></th>
      <th><%= t :'activerecord.attributes.server_main_info.mac_1' %></th>
      <th><%= t :'activerecord.attributes.server_main_info.mac_2' %></th>
      <th><%= t :'activerecord.attributes.server_main_info.mac_3' %></th>

    </tr>
    </thead>
    <tbody>
      <% @server_main_infos.each do |server_main_info| %>
        <tr>
          <td><%= server_main_info.ip1 %></td>
          <td><%= server_main_info.ip2 %></td>
          <td><%= server_main_info.ip3 %></td>
          <td><%= server_main_info.mac_1 %></td>
          <td><%= server_main_info.mac_2 %></td>
          <td><%= server_main_info.mac_3 %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div>
    <h5><%= t :wIPHistoryTitle %></h5>
    <th> IPHistory </th>
  </div>
</div>
<div class="container">
  <table>
    <thead>
    <tr>
      <th colspan="3"> </th>
    </tr>
    </thead>

    <tbody>
    <% @server_main_infos.each do |server_main_info| %>
      <tr>
        <td><%= link_to 'show', server_main_info %></td>
        <td><%= link_to 'edit', edit_server_main_info_path(server_main_info) %></td>
        <td><%= link_to 'destroy', server_main_info, method: :delete, data: { confirm: 'are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

</div>

<br>

<%= link_to 'new server main info', new_server_main_info_path %>
