<p id="notice"><%= notice %></p>

<p>
  <strong>Srvname:</strong>
  <%= @server_main_info.srvName %>
</p>

<p>
  <strong>Fdqn:</strong>
  <%= @server_main_info.fdqn %>
</p>

<p>
  <strong>Mainip:</strong>
  <%= @server_main_info.mainIP %>
</p>

<p>
  <strong>Iphistory:</strong>
  <%= @server_main_info.iphistory_id %>
</p>

<p>
  <strong>Macaddr:</strong>
  <%= @server_main_info.macAddr %>
</p>

<p>
  <strong>Ip1:</strong>
  <%= @server_main_info.ip1 %>
</p>

<p>
  <strong>Ip2:</strong>
  <%= @server_main_info.ip2 %>
</p>

<p>
  <strong>Ip3:</strong>
  <%= @server_main_info.ip3 %>
</p>

<p>
  <strong>Mac 1:</strong>
  <%= @server_main_info.mac_1 %>
</p>

<p>
  <strong>Mac 2:</strong>
  <%= @server_main_info.mac_2 %>
</p>

<p>
  <strong>Mac 3:</strong>
  <%= @server_main_info.mac_3 %>
</p>

<p>
  <strong>Srvnameinproj:</strong>
  <%= @server_main_info.srvNameInProj %>
</p>

<p>
  <strong>Srvpersianname:</strong>
  <%= @server_main_info.srvPersianName %>
</p>

<p>
  <strong>Sitename:</strong>
  <%= @server_main_info.sitename_id %>
</p>

<p>
  <strong>Osinfo:</strong>
  <%= @server_main_info.osinfo_id %>
</p>

<p>
  <strong>Srvnameonvm:</strong>
  <%= @server_main_info.srvNameOnVM %>
</p>

<p>
  <strong>Machinetype:</strong>
  <%= @server_main_info.machinetype_id %>
</p>

<p>
  <strong>Serverstate:</strong>
  <%= @server_main_info.serverstate_id %>
</p>

<p>
  <strong>Cpuinfo:</strong>
  <%= @server_main_info.cpuInfo %>
</p>

<p>
  <strong>Raminfo:</strong>
  <%= @server_main_info.ramInfo %>
</p>

<p>
  <strong>Hddinfo:</strong>
  <%= @server_main_info.hddInfo %>
</p>

<p>
  <strong>Validip:</strong>
  <%= @server_main_info.validIP %>
</p>

<p>
  <strong>Validfqdn:</strong>
  <%= @server_main_info.validFqdn %>
</p>

<p>
  <strong>Subnetmask:</strong>
  <%= @server_main_info.subnetMask %>
</p>

<p>
  <strong>Gateway:</strong>
  <%= @server_main_info.gateWay %>
</p>

<p>
  <strong>Projname:</strong>
  <%= @server_main_info.projName %>
</p>

<p>
  <strong>Reponseunit:</strong>
  <%= @server_main_info.reponseUnit_id %>
</p>

<p>
  <strong>Responseorg:</strong>
  <%= @server_main_info.responseOrg_id %>
</p>

<p>
  <strong>Responsename:</strong>
  <%= @server_main_info.responseName %>
</p>

<p>
  <strong>Responsephone:</strong>
  <%= @server_main_info.responsePhone %>
</p>

<p>
  <strong>Responsemail:</strong>
  <%= @server_main_info.responseMail %>
</p>

<%= link_to 'Edit', edit_server_main_info_path(@server_main_info) %> |
<%= link_to 'Back', server_main_infos_path %>
