<p id="notice"><%= notice %></p>
<h1><%= t :wServerStateTitle %></h1>

<h3><%= t :'activerecord.models.server_main_info' %></h3>
<div class="container-fluid ">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <div class="overflow-scroll">
          <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
            <li class="nav-item">
              <% $server_main_infos.each do |server_main_info| %>
                <%= link_to treeview_item_server_main_info_path(server_main_info), class:"nav-link align-middle px-0", remote: true do %>
                  <em class="fs-4 bi-server"></em> <span class="ms-1 d-none d-sm-inline"><%= server_main_info.srvName %></span>
                <% end %>
              <% end %>>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col py-3" id="load_partial_tree">
    </div>
  </div>
</div>