<%= form_with(model: partitioning) do |form| %>
  <% if partitioning.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(partitioning.errors.count, "error") %> prohibited this partitioning from being saved:</h2>

      <ul>
        <% partitioning.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :prtName %>
    <%= form.text_field :prtName %>
  </div>

  <div class="field">
    <%= form.label :dvcName %>
    <%= form.text_field :dvcName %>
  </div>

  <div class="field">
    <%= form.label :totalSpace %>
    <%= form.text_field :totalSpace %>
  </div>

  <div class="field">
    <%= form.label :usedSpace %>
    <%= form.text_field :usedSpace %>
  </div>

  <div class="field">
    <%= form.label :totalINode %>
    <%= form.text_field :totalINode %>
  </div>

  <div class="field">
    <%= form.label :usedInode %>
    <%= form.text_field :usedInode %>
  </div>

  <div class="field">
    <%= form.label :servermaininfo_id %>
    <%= form.number_field :servermaininfo_id %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_area :note %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
