<p id="notice"><%= notice %></p>

<h1>Partitionings</h1>

<table>
  <thead>
    <tr>
      <th>Prtname</th>
      <th>Dvcname</th>
      <th>Totalspace</th>
      <th>Usedspace</th>
      <th>Totalinode</th>
      <th>Usedinode</th>
      <th>Servermaininfo</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @partitionings.each do |partitioning| %>
      <tr>
        <td><%= partitioning.prtName %></td>
        <td><%= partitioning.dvcName %></td>
        <td><%= partitioning.totalSpace %></td>
        <td><%= partitioning.usedSpace %></td>
        <td><%= partitioning.totalINode %></td>
        <td><%= partitioning.usedInode %></td>
        <td><%= partitioning.servermaininfo_id %></td>
        <td><%= partitioning.note %></td>
        <td><%= link_to 'Show', partitioning %></td>
        <td><%= link_to 'Edit', edit_partitioning_path(partitioning) %></td>
        <td><%= link_to 'Destroy', partitioning, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Partitioning', new_partitioning_path %>
