<p id="notice"><%= notice %></p>

<p>
  <strong>Prtname:</strong>
  <%= @partitioning.prtName %>
</p>

<p>
  <strong>Dvcname:</strong>
  <%= @partitioning.dvcName %>
</p>

<p>
  <strong>Totalspace:</strong>
  <%= @partitioning.totalSpace %>
</p>

<p>
  <strong>Usedspace:</strong>
  <%= @partitioning.usedSpace %>
</p>

<p>
  <strong>Totalinode:</strong>
  <%= @partitioning.totalINode %>
</p>

<p>
  <strong>Usedinode:</strong>
  <%= @partitioning.usedInode %>
</p>

<p>
  <strong>Servermaininfo:</strong>
  <%= @partitioning.servermaininfo_id %>
</p>

<p>
  <strong>Note:</strong>
  <%= @partitioning.note %>
</p>

<%= link_to 'Edit', edit_partitioning_path(@partitioning) %> |
<%= link_to 'Back', partitionings_path %>
