<%= form_with(model: important_conf_file) do |form| %>
  <% if important_conf_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(important_conf_file.errors.count, "error") %> prohibited this important_conf_file from being saved:</h2>

      <ul>
        <% important_conf_file.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cfgFileName %>
    <%= form.text_field :cfgFileName %>
  </div>

  <div class="field">
    <%= form.label :filePath %>
    <%= form.text_field :filePath %>
  </div>

  <div class="field">
    <%= form.label :servermaininfo_id %>
    <%= form.number_field :servermaininfo_id %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_area :note %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
