<p id="notice"><%= notice %></p>

<h1>Important Conf Files</h1>

<table>
  <thead>
    <tr>
      <th><%= t :'activerecord.attributes.important_conf_file.cfgFileName' %></th>
      <th><%= t :'activerecord.attributes.important_conf_file.filePath' %></th>
      <th> Servermaininfo </th>
      <th><%= t :'activerecord.attributes.important_conf_file.note' %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @important_conf_files.each do |important_conf_file| %>
      <tr>
        <td><%= important_conf_file.cfgFileName %></td>
        <td><%= important_conf_file.filePath %></td>
        <td><%= important_conf_file.servermaininfo_id %></td>
        <td><%= important_conf_file.note %></td>
        <td><%= link_to 'Show', important_conf_file %></td>
        <td><%= link_to 'Edit', edit_important_conf_file_path(important_conf_file) %></td>
        <td><%= link_to 'Destroy', important_conf_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Important Conf File', new_important_conf_file_path %>
