<p id="notice"><%= notice %></p>

<p>
  <strong>Cfgfilename:</strong>
  <%= @important_conf_file.cfgFileName %>
</p>

<p>
  <strong>Filepath:</strong>
  <%= @important_conf_file.filePath %>
</p>

<p>
  <strong>Servermaininfo:</strong>
  <%= @important_conf_file.servermaininfo_id %>
</p>

<p>
  <strong>Note:</strong>
  <%= @important_conf_file.note %>
</p>

<%= link_to 'Edit', edit_important_conf_file_path(@important_conf_file) %> |
<%= link_to 'Back', important_conf_files_path %>
