<%= form_with(model: site_name) do |form| %>
  <% if site_name.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(site_name.errors.count, "error") %> prohibited this site_name from being saved:</h2>

      <ul>
        <% site_name.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :siteName %>
    <%= form.text_field :siteName %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_area :note %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
