<p id="notice"><%= notice %></p>

<h1>Site Names</h1>

<table>
  <thead>
    <tr>
      <th>Sitename</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @site_names.each do |site_name| %>
      <tr>
        <td><%= site_name.siteName %></td>
        <td><%= site_name.note %></td>
        <td><%= link_to 'Show', site_name %></td>
        <td><%= link_to 'Edit', edit_site_name_path(site_name) %></td>
        <td><%= link_to 'Destroy', site_name, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Site Name', new_site_name_path %>
