<p id="notice"><%= notice %></p>

<p>
  <strong>Sitename:</strong>
  <%= @site_name.siteName %>
</p>

<p>
  <strong>Note:</strong>
  <%= @site_name.note %>
</p>

<%= link_to 'Edit', edit_site_name_path(@site_name) %> |
<%= link_to 'Back', site_names_path %>
