<%= form_with(model: role) do |form| %>
  <% if role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(role.errors.count, "error") %> prohibited this role from being saved:</h2>

      <ul>
        <% role.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :rolesname_id %>
    <%= form.number_field :rolesname_id %>
  </div>

  <div class="field">
    <%= form.label :tablesname_id %>
    <%= form.number_field :tablesname_id %>
  </div>

  <div class="field">
    <%= form.label :acl %>
    <%= form.number_field :acl %>
  </div>

  <div class="field">
    <%= form.label :whois_id %>
    <%= form.number_field :whois_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
