<p id="notice"><%= notice %></p>

<p>
  <strong>Rolesname:</strong>
  <%= @role.rolesname_id %>
</p>

<p>
  <strong>Tablesname:</strong>
  <%= @role.tablesname_id %>
</p>

<p>
  <strong>Acl:</strong>
  <%= @role.acl %>
</p>

<p>
  <strong>Whois:</strong>
  <%= @role.whois_id %>
</p>

<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
