// Place all the styles related to the ServerMainInfos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.anyClass {
  height:150px;
  overflow-y: scroll;
}
.vertical-scrollable> .row {
  position: absolute;
  top: 120px;
  bottom: 100px;
  left: 180px;
  width: 50%;
  overflow-y: scroll;
}
.col-sm-8 {
  color: white;
  font-size: 24px;
  padding-bottom: 20px;
  padding-top: 18px;
}

.col-sm-8:nth-child(2n+1) {
  background: green;
}

.col-sm-8:nth-child(2n+2) {
  background: black;
}