<%= form_with(model: roles_name) do |form| %>
  <% if roles_name.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(roles_name.errors.count, "error") %> prohibited this roles_name from being saved:</h2>

      <ul>
        <% roles_name.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :roleName %>
    <%= form.text_field :roleName %>
  </div>

  <div class="field">
    <%= form.label :whois_id %>
    <%= form.number_field :whois_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
