<p id="notice"><%= notice %></p>

<h1>Roles Names</h1>

<table>
  <thead>
    <tr>
      <th>Rolename</th>
      <th>Whois</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @roles_names.each do |roles_name| %>
      <tr>
        <td><%= roles_name.roleName %></td>
        <td><%= roles_name.whois_id %></td>
        <td><%= link_to 'Show', roles_name %></td>
        <td><%= link_to 'Edit', edit_roles_name_path(roles_name) %></td>
        <td><%= link_to 'Destroy', roles_name, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Roles Name', new_roles_name_path %>
