<p id="notice"><%= notice %></p>

<p>
  <strong>Rolename:</strong>
  <%= @roles_name.roleName %>
</p>

<p>
  <strong>Whois:</strong>
  <%= @roles_name.whois_id %>
</p>

<%= link_to 'Edit', edit_roles_name_path(@roles_name) %> |
<%= link_to 'Back', roles_names_path %>
