<p id="notice"><%= notice %></p>

<h1>Machine Types</h1>

<table>
  <thead>
    <tr>
      <th>Machinetype</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @machine_types.each do |machine_type| %>
      <tr>
        <td><%= machine_type.machineType %></td>
        <td><%= machine_type.note %></td>
        <td><%= link_to 'Show', machine_type %></td>
        <td><%= link_to 'Edit', edit_machine_type_path(machine_type) %></td>
        <td><%= link_to 'Destroy', machine_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Machine Type', new_machine_type_path %>
