<p id="notice"><%= notice %></p>

<p>
  <strong>Machinetype:</strong>
  <%= @machine_type.machineType %>
</p>

<p>
  <strong>Note:</strong>
  <%= @machine_type.note %>
</p>

<%= link_to 'Edit', edit_machine_type_path(@machine_type) %> |
<%= link_to 'Back', machine_types_path %>
