<%= form_with(model: server_group_info) do |form| %>
  <% if server_group_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(server_group_info.errors.count, "error") %> prohibited this server_group_info from being saved:</h2>

      <ul>
        <% server_group_info.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :grpName %>
    <%= form.text_field :grpName %>
  </div>

  <div class="field">
    <%= form.label :grp_id %>
    <%#= form.number_field :grp_id %>
    <%= form.collection_select :grp_id, ServerGroupInfo.all, :id, :grpName  %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_area :note %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
