<p id="notice"><%= notice %></p>

<h1>Server Group Infos</h1>

<table>
  <thead>
    <tr>
      <th>Grpname</th>
      <th>Grp</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @server_group_infos.each do |server_group_info| %>
      <tr>
        <td><%= server_group_info.grpName %></td>
        <td><%= server_group_info.grp_id %></td>
        <td><%= server_group_info.note %></td>
        <td><%= link_to 'Show', server_group_info %></td>
        <td><%= link_to 'Edit', edit_server_group_info_path(server_group_info) %></td>
        <td><%= link_to 'Destroy', server_group_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Server Group Info', new_server_group_info_path %>
