<p id="notice"><%= notice %></p>

<p>
  <strong>Grpname:</strong>
  <%= @server_group_info.grpName %>
</p>

<p>
  <strong>Grp:</strong>
  <%= @server_group_info.grp_id %>
</p>

<p>
  <strong>Note:</strong>
  <%= @server_group_info.note %>
</p>

<%= link_to 'Edit', edit_server_group_info_path(@server_group_info) %> |
<%= link_to 'Back', server_group_infos_path %>
