<!DOCTYPE html>
<%
  @nav_uris= {:wServerMainTitle => [treeview_server_main_infos_path,new_server_main_info_path], :wSiteNameTitle => [site_names_path,new_site_name_path],
:wOSInfoTitle => [os_infos_path,new_os_info_path], :wMachineTypeTitle => [machine_types_path,new_machine_type_path],
:wServerStateTitle => [server_states_path,new_server_state_path], :wServerGroupInfoTitle => [server_group_infos_path,new_server_group_info_path]}
%>
<html>
<head>
  <title><%= t :AppTitle %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <nav class="navbar navbar-expand-lg navbar-light" style="background:#80b0f7">
      <div class="container-fluid">
        <%= link_to (t :MainPage), root_path, class: "navbar-brand" %>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <% @nav_uris.each do |k,v| %>
              <li class="nav-item dropdown">
                <%= link_to (t k), v[0], class: "nav-link dropdown-toggle",id:"navbarDropdown",role:"button",
                            "data-bs-toggle": "dropdown", "aria-expanded": "false" %>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><%= link_to (t :wList), v[0], class:"dropdown-item" %></li>
                  <li><%= link_to (t :wNew2), v[1], class:"dropdown-item" %></li>
                </ul>
              </li>

            <% end %>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="<%= t :wSearch %>" aria-label="Search">
            <button class="btn btn-outline-success" type="submit"><%= t :wSearch %></button>
          </form>
        </div>
      </div>
    </nav>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
